
view/test/task_box_test.py
view/test/power_bar_test.py
depricated_code/test/task_box_test.py
depricated_code/test/power_bar_test.py
depricated_code/tasks_view.py
depricated_code/tasks_controller.py
depricated_code/power_bar.py
depricated_code/data_base.py
view/test/power_bar_test.py
view/test/task_box_test.py
view/test/power_bar_test.py
